:root {
  --primary-color: #3245ff;
  --secondary-color: #bc52ee;
  --text-color: #111827;
  --hover-text-color: rgb(78, 80, 86);
  --button-hover-color: rgb(230, 230, 230);
  --background-blur: 100px;
  --backdrop-blur: 50px;
  --font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  --monospace-font-family: ui-monospace, "Cascadia Code", "Source Code Pro",
    Menlo, Consolas, "DejaVu Sans Mono", monospace;
  --font-size-h1: 22px;
  --font-size-h2: 20px;
  --font-size-p: 16px;
  --line-height-p: 24px;
  --gap: 16px;
  --padding: 16px;
  --border-radius: 10px;
  --box-border-radius: 16px;
}

#background {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(var(--background-blur));
}

#container {
  font-family: var(--font-family);
  height: 100%;
  container-type: inline-size;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
}

#hero {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding);
}

h1 {
  font-size: var(--font-size-h1);
  margin-top: 0.25em;
}

#links {
  display: flex;
  gap: var(--gap);
}

#links a {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s;
}

#links a:hover {
  color: var(--hover-text-color);
}

#links a svg {
  height: 1em;
  margin-inline-start: 8px;
}

#links a.button {
  color: white;
  background: linear-gradient(
    83.21deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.12),
    inset 0 -2px 0 rgba(0, 0, 0, 0.24);
  border-radius: var(--border-radius);
}

#links a.button:hover {
  color: var(--button-hover-color);
  box-shadow: none;
}

pre {
  font-family: var(--monospace-font-family);
  font-weight: normal;
  background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}

h2 {
  margin: 0 0 1em;
  font-weight: normal;
  color: var(--text-color);
  font-size: var(--font-size-h2);
}

p {
  color: #4b5563;
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  letter-spacing: -0.006em;
  margin: 0;
}

code {
  display: inline-block;
  background:
    linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
    linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 6px 8px;
}

.box {
  padding: var(--padding);
  background: rgba(255, 255, 255, 1);
  border-radius: var(--box-border-radius);
  border: 1px solid white;
}

#news {
  position: absolute;
  bottom: var(--padding);
  right: var(--padding);
  max-width: 300px;
  text-decoration: none;
  transition: background 0.2s;
  backdrop-filter: blur(var(--backdrop-blur));
}

#news:hover {
  background: rgba(255, 255, 255, 0.55);
}

@container (max-height: 368px) {
  #news {
    display: none;
  }
}

@container (max-width: 768px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  #hero {
    display: block;
    padding-top: 10%;
  }

  #links {
    flex-wrap: wrap;
  }

  #links a.button {
    padding: 14px 18px;
  }

  #news {
    right: var(--padding);
    left: var(--padding);
    bottom: 2.5rem;
    max-width: 100%;
  }

  h1 {
    line-height: 1.5;
  }
}
